#image-holder {
    width:1882px;
    height: 1262px;
    overflow: auto;
    position:relative;
    cursor:none;
    background-size: contain;
    background-repeat: no-repeat;
    display:none;
}
#cursor {
    user-select: none;
    height:50px;
    width:50px;
    border-radius: 25px;
    border:4px dotted rgb(121, 120, 120);
    color: rgb(116, 115, 115);
    font-weight: 900;
    opacity:0.75;
    position:absolute;
    display:flex;
    align-items: center;
    justify-content: center;
}
#select-menu{
    background-color: dimgrey;
    position:absolute;
    width:8rem;
    display:none;
    cursor:default;
}
#select-menu ul{
    color:aliceblue;
    list-style: none;
    margin:0;
    padding:0;
}
#select-menu li{
    margin:0.25rem;
}
#select-menu div{
    background-color: darkslategrey;
    padding:0.25rem;
    width:7.5rem;
}
.tag{
    user-select: none;
    height:50px;
    width:50px;
    border-radius: 25px;
    opacity:0.75;
    position:absolute;
    display:flex;
    align-items: center;
    justify-content: center;
}

.tag.bad{
    border:2px solid red;
    
}
.tag.good {
    border:2px solid green;
}

#directions {
    display:flex;
    flex-direction: column;
    align-items: center;
}
.characters {
    display:flex;
    flex-direction: row;
    justify-content: center;
    gap:2rem;
}
.character-card{
    display:flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    border:2px black solid;
    padding:.5rem;
}
.character-card img {
    border-radius: 5px;
    border:2px black solid;

}
#location-holder {
    display:flex;
    flex-direction: row;
    justify-content: center;
    gap:2rem;
}

.location-button{
    border-radius: 5px;
    box-shadow:2px 2px 2px 2px darkgray;
    padding:.5rem;
}
.location-button:hover{
    border-radius: 5px;
    background-color: rgb(199, 199, 199);
    padding:.5rem;
    box-shadow: none;
}
#directions>div{
    margin:1rem;
}
#congrats{
    display:none;
    flex-direction: column;
    align-items: center;
}
.skiscene {
    background-image: url('../imgs/waldo-ski.jpg');
}
.spacescene {
    background-image: url('../imgs/waldo-space.jpg');
}
.beachscene {
    background-image: url('../imgs/waldo-beach.jpg');
}