#image-holder {
    width:1882px;
    height: 1262px;
    overflow: auto;
    position:relative;
    cursor:none;
    background-image: url('../imgs/mcu-lrg.jpg');
    background-size: contain;
    background-repeat: no-repeat;
}
#cursor {
    user-select: none;
    height:50px;
    width:50px;
    border-radius: 25px;
    border:2px solid black;
    opacity:0.5;
    position:absolute;
    display:flex;
    align-items: center;
    justify-content: center;
}